.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  flex-wrap: wrap;
}

.headerimage {
  flex: 1;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.headerimage img {
  width: 100%;
  border-radius: 5%;
}

.headercontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  text-align: center;
  gap: 20px;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 300px;
}

/* Media Queries */
/* @media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .headercontent {
    padding: 0;
  }

  .btncontainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
} */
