@import "tailwindcss";

@theme {
  --color-brand-primary: #f97316; /* Omoluabi Orange */
  --color-brand-secondary: #0ea5e9; /* Sky Blue */
  
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #eab308;

  --color-background-default: #f8fafc;
  --color-surface: #ffffff;
  
  --font-sans: "Inter", "system-ui", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-background-default);
    color: var(--color-slate-900);
  }
}
