.btnContainer {
  background-color: inherit;
  border-radius: 15px;
  color: #37464f;
  border: 2px solid #37464f;
  box-shadow: 0.5px 3px 0 #37464f;
}

.btnContainer.p {
  font-size: 12px;
  color: #37464f;
}

.btnContainer:active {
  transform: translateY(3px);
  box-shadow: 0.5px 1px 0 #37464f;
}
