.leaderboard-container {
  flex: 2;
  color: #fff;
}

.leaderboard-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.leaderboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-height: 70vh;
  overflow-y: auto;
}

.image-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #fff;
  margin: 0 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.leaderboard-name {
  width: 350px;
}
