.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  z-index: 1000;
}

.navbarlogo h1 {
  font-size: 1.5rem;
}

.navbardropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.navbardropdown p {
  margin-right: 20px;
  font-size: 1rem;
}

.navbarbtn {
  width: 120px;
}

.dropdownmenu {
  position: absolute;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  right: -50px;
  top: 20px;
  background-color: white;
  padding: 15px 25px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  width: 400px;
  transition: right 0.3s ease;
}
.link {
  color: #a5ed6e;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  padding: 5px 10px;
  border-radius: 5px;
}
.link:hover {
  background-color: black;
}

.navbardropdown:hover .dropdownmenu {
  display: grid;
}
.navbarlogo h1 {
  color: black;
}
/* Media Queries */
/* @media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbardropdown {
    margin-top: 10px;
  }

  .navbarbtn {
    width: 100%;
  }
} */
