.ctaconatiner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
}

.ctabtncontainer {
  width: 100px;
}

.correctNotification {
  color: green;
  display: flex;
}

.correctNotificationContainer {
  background-color: #202f36;
  height: 212px;
}
