.questiondisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 70px;
}
.questiondisplay h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #ce82ff;
}

.questiondisplay p {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #f1f7fb;
}

.optionsdisplay {
  display: flex;
  gap: 10px;
}

.soundButtonsContainer {
  display: flex;
  align-items: end;
  gap: 24px;
}

.bigBtn {
  width: 80px;
  height: 80px;
}

.smallBtn {
  width: 60px;
  height: 60px;
}

hr {
  border: none;
  border-top: 2px solid #37464f;
}

.displayHr {
  width: 70%;
  margin: 70px 0px 10px;
}

.questiondisplay p {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #f1f7fb;
}

.selectedOption {
  position: relative;
  animation: moveUp 0.5s forwards;
  top: -20px;
  cursor: pointer;
  margin-bottom: 20px;
}

@keyframes moveUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.optionsdisplay.disabled {
  pointer-events: none;
  opacity: 0.5;
}
