.languagelandingcontainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guidebookcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.newsectioncard {
  border: 2px solid gray;
  border-radius: 12px;
  width: 525px;
  margin: 20px auto;
  padding: 25px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsectioncardbtn {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
